html,
body {
	width: 100%;
	height: 100%;
}

html {
	min-height: 600px;
}

body {
	font-family: 'Josefin Sans', sans-serif;
}

.text-vertical-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.text-vertical-center h1 {
	margin: 0;
	padding: 0;
	font-size: 4.5em;
	font-weight: 700;
}


/* Header */

.header {
	color: white;
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	background: url(../img/background.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.footer {
	opacity: 0;
}

/* Footer */

.footer {
	position: absolute;
	bottom: 50px;
	left: 50%;
}

.contact {
	position: relative;
	right: 50%;
	text-align: center;
}

.links div {
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: 5px;
}

.links div:hover {
	-webkit-filter: invert(60%);
	filter: invert(60%);
}

.github {
	background: url(../img/GitHub-Mark-Light-32px.png);
}

/* Loader */

.loader {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 10;
	background: url('../img/loader.gif') no-repeat 50% 50% #f2f2f2;
}

